.Wrapper {
  display: flex;
  align-items: center;
}

.Link {
  display: block;
  width: 100px;
  padding: 5px 10px;
  margin-right: 10px;
  background-image: linear-gradient(to bottom, #6fedfd, rgb(252, 255, 54));
  color: #1a1a1a;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

.Active {
  color: #003cff;
}

/* .Link:hover {
  color: #1a1a1a;
  background-image: linear-gradient(#6fedfd);
} */
