.List {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Item {
  width: 150px;
  margin-right: 15px;
  text-decoration: none;
  color: #1a1a1a;
}

.Title {
  font-size: 15px;
  padding: 0;
  margin: 0;
}
