.Header {
  display: block;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(to bottom, #6fedfd, rgb(252, 255, 54));
}

.Back {
  display: inline-block;
  margin-bottom: 10px;
  color: #1a1a1a;
  text-decoration: none;
  font-size: 13px;
}
