.List {
  width: 800px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Item {
  margin-right: 15px;
  margin-top: 15px;
  text-decoration: none;
  color: #1a1a1a;
}

.Title {
  font-size: 15px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.Paragraf {
  margin: 0;
}
